body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, #3498db, #8e44ad);
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header, .contact, .skills {
    width: 80%; 
    margin: 20px 0;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.contact, .skills, .projects {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

.project {
    flex: 0 1 calc(30% - 20px);
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px; 
    width: 80%;
    text-align:center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    header, .contact, .skills{
        width: 90%;
    }
}


a:hover {
    color: #ff4500; 
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}


.contact a i {
    margin-right: 5px;
}

.skills i {
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .project {
        flex: 0 1 calc(48% - 20px);
        margin: 10px;
    }
}